<div ng-controller="Nav as that">
	﻿<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">Angular Template</span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li class="fade-selection-animation" data-ng-class="that.isCurrent(r)"
                data-ng-repeat="r in that.navRoutes">
                	<a href="#{{r.url}}" data-ng-bind-html="r.config.settings.content"></a>
            	</li>
            </ul>
        </div>
    </div>
</nav>	
</div>